<header
  class="app-header navbar"
  style="padding: 0px 40px; background-color: #002597"
>
  <div class="w-100">
    <label style="color: white; font-size: 18px; font-family: cursive"
      >Weather</label
    >
  </div>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li>
          <div class="pt-2 pb-2">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
              <input
                type="text"
                formControlName="city"
                class="form-control"
                placeholder="Enter city name"
              />
              <div
                *ngIf="
                  myForm.get('city').invalid &&
                  (myForm.get('city').dirty || myForm.get('city').touched)
                "
              >
                Please provide a valid city.
              </div>
              <button
                type="submit"
                class="btn btn-primary w-100"
                [disabled]="myForm.invalid"
              >
                Find
              </button>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['search']"
          >
            Citys
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Main content -->
  <main class="main">
    <br />
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer text-center">Weather citys &copy; 2022.</footer>
